# This is an example '.env' file.
# It contains the environmental variables for development
# You would provide these directly in production (e.g. Heroku)

NODE_ENV=development
PORT=3000
POWERUP_NAME=My Power-Up
POWERUP_ID=0a000000aa0aa00aaaaaaaa0
POWERUP_APP_KEY=00a00a0a0aa000000a0000000aa0aa0a
POWERUP_URL=https://optro-cloud.github.io/trello-powerup-full-sample
CONTEXT_PATH=/trello-powerup-full-sample
OPTRO_API_KEY=DISABLED
