.note-field {
    resize: none;
    height: 100px
}

.color-picker-container {
    margin: 6px;
}

.color-picker-container.unlicensed{
    filter: blur(4px) saturate(0.1) brightness(1.2);
    pointer-events: none;
}

.color-picker-container.unlicensed::after{
    content: "This is a pro feature";
    margin-left: -100%;
}