<!-- This is the power-up root, used to integrate with the Trello UI -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{powerup_name}}</title>
    <!-- Import the minimum css required to give it the 'Trello' feel -->
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css"/>
    <!-- Preload frequently used scripts to make your Power-up UI quick at the expense of bandwidth -->
    <!--<link rel="preload" href="./addon.js" as="script">-->
</head>
<body>
<div style="margin: 25px; font-size: 1.2rem;">
    <h1 style="margin-top: 25px">{{powerup_name}}</h1>
    <p>Congratulations 🙌 You’ve just created a Trello Power-Up!</p>
    <p>This is the root of the Power-up, Trello uses this to start your Power-up and show UI elements (like a Card button) 👀 </p>
    <div style="padding: 10px 0;">
        <h2>What next?</h2>
        <p>Let’s get the Power-Up running on a Trello board so you can see it working in a live environment.</p>
        <div style="padding: 6px 12px;">
            <p>1. Go to <a href="https://trello.com/power-ups/admin">Power-up Admin</a> and update the iframe connector URL as appropriate</p>
            <p>2. Enable the Capabilities that you want to expose in the Power-Up (Enable everything to see all the features of the Notes Power-Up)</p>
            <p>3. Go to a Board and add the Power-up to a Board via the Add Power-Up Menu (Choose the 'Custom' filter on the left)</p>
            <p>4. Use your Power-up as you code and see changes to the UI in near real-time!</p>
        </div>
        <div style="margin-top: 25px">
            <h2>Additional resources</h2>
            <p>Once the Power-Up has been added to a Trello board you have a few options for the next steps.</p>
            <p>To be honest, what you choose depends on your experience and preferences.</p>
            <p><i>All of the next steps are optional:</i></p>
            <div style="padding: 6px 12px;">
                <p>- Learn more about <a href="https://reactjs.org/tutorial/tutorial.html">coding in React</a></p>
                <p>- Learn more about <a href="https://developer.atlassian.com/cloud/trello/guides/power-ups/your-first-power-up/">developing in Trello</a></p>
                <p>- <a href="https://docs.appfox.io/optro-vendor/Monetize-your-Trello-Power-Ups.153878549.html">Monetize your Power-Up</a> with Optro</p>
            </div>
        </div>
    </div>
</div>
<!-- Enable using the Trello API from client.js -->
<script src="https://p.trellocdn.com/power-up.min.js"></script>
</body>
</html>
