<!-- This template is used to render React pages -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{powerup_name}}</title>
    <!-- Import the minimum css required to give it the 'Trello' feel -->
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css"/>
</head>
<body>
<!-- React Root - used to render the React UI -->
<div id="react-root" style="height: 100%;">
    <div style="margin: 12px;">Loading...</div>
</div>
<!-- Enable using the Trello API from window.TrelloPowerUp.iframe() -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://p.trellocdn.com/power-up.min.js?key={{powerup_app_key}}"></script>
</body>
</html>
